.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.nav {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  max-width: 1260px;
  background-color: transparent !important;
}

.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}

.navMiddle {
  display: flex;
  margin-left: 12px;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.secondaryCta {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  transition: background-color 0.2s;
  width: 280px;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}

.link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 16px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.homeLink:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navRight {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.profileImage {
  margin-top: 6px;
  transition: all 0.15s ease-in-out;
}

.heroCtaContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.slidingbutton1 {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 5px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.slidingbutton1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.slidingbutton1:hover {
  background: rgba(255, 255, 255, 0);
}
.slidingbutton1:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.heroCtasell {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 5px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.heroCtaguide {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 5px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.heroCtaportal {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 5px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}

.heroCtadocks {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border: 1px solid;
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
  border-image-slice: 1;
  margin: 5px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}


.profileImage:hover {
  cursor: pointer;
  opacity: 0.8;
}

.homeLink {
  font-size: 24px;
  font-weight: 500;
}

.buttonLink:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

/* Sreens less than 720px */
 @media screen and (max-width: 768px) {
  .navContainer {
    background-color: transparent !important; /* Цвет фона контейнера для мобильных устройств */
    padding: 10px; /* Внутренний отступ контейнера для мобильных устройств */
  }

  .nav {
    flex-direction: column; /* Столбцовая ориентация для мобильных устройств */
    padding: 3px; /* Внутренний отступ навигации для мобильных устройств */
  }

  .navLeft {
    gap: 30px; /* Уменьшенный отступ между элементами для мобильных устройств */
    margin-bottom: 10px; /* Дополнительный отступ снизу для мобильных устройств */
  }

  .navMiddle {
    margin-left: 0; /* Убрать левый отступ для мобильных устройств */
  }

  .navRight {
    flex-direction: column; /* Столбцовая ориентация для мобильных устройств */
    gap: 10px;
    margin-right: 70px; /* Уменьшенный отступ между элементами для мобильных устройств */
  }

  .profileImage {
    margin-top: 0; /* Убрать верхний отступ для мобильных устройств */
     display: none !important;
  }

  .heroCtaContainer {
    flex-direction: column; /* Столбцовая ориентация для мобильных устройств */
    gap: 10px; /* Уменьшенный отступ между элементами для мобильных устройств */
  }

  .heroCtaguide,
  .heroCtaportal,
  .heroCtadocks {
       display: none !important;
 }
  .navConnect {
  flex-direction: column;
     width: 50%; /* Занимать всю ширину для мобильных устройств */
    margin: 1px 0; /* Уменьшенные отступы для мобильных устройств */
    
  }
  
  .homeLink {
    align-items: left;
    justify-content: left;
    display: flex;
   }

  .sliding-button,
  .heroCta,
  .heroCtasell{
    width: 50%; /* Занимать всю ширину для мобильных устройств */
    margin: 1px 0; /* Уменьшенные отступы для мобильных устройств */
  }
}

